.navbar navbar-expand-lg navbar-light {
    float: right;
    background-color: #a7b4ff;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-caption {
    color: rgb(182, 140, 232);
    font-family: "Pacifico", cursive;
}

.collapse {
    font-size: 30px;
    float: right;
    background-color: #a7b4ff;
}

.wrapper {
    margin-bottom: -210px;
    border: 0px solid black;
}

.catCafeMargin {
    border: 0px solid black;
    margin: 360px;
}

footer {
    background-color: rgb(140, 209, 232);
    color: blue;
    font-family: 'Indie Flower', cursive;   
    text-align: center;  
    border: 0px solid black;
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
    bottom: 0;
}

footer h1 {
    font-size: 35px;
}

footer p {
    font-size: 30px;
}

#logoStyle {
    background-color: #a7b4ff;
}

.items {
    color: rgb(140, 209, 232);
    text-align: center;
    font-family: "Pacifico", cursive;
}

.navbar-brand {
    background-color: #a7b4ff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 4px;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column img {
    max-width: 75%;
    max-height: 75%;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.dropbtn {
    background-color: #3498DB;
    color: rgb(167, 180, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 40px;
    font-family: "Indie Flower", cursive;    
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown show {
    width: 100%;
    height: auto;
    background-color: #2980B9
}

#dropdownMenuLink {
    width: 100%;
    height: auto;
    background-color: #2980B9
}

.dropdown-menu {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 30px;    
    color: #b68ce8;                    
}

.show {display:block;}

.zip {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 20px;    
    text-align: center;
    border: 0px solid rgb(167, 180, 255);
    margin: 40px 0px 300px 0px;
}

.card-header {
    color: gray;
    text-align: center;
    font-family: "Pacifico", cursive;
    background-color: #a7b4ff;
}

.card-body {
    color: gray;
    background-color: #a7b4ff;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 25px;

}

.card-body h1 {
    color: gray;
    font-size: 45px;
}

.card-header {
    font-size: 30px;
    color: gray;
    text-align: center;
    font-family: "Pacifico", cursive;
}

.city {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 25px;    
    text-align: center;
    background-color: #a7b4ff;
    border: 5px ridge gray;
}

.submit {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 25px;    
    text-align: center;
    background-color: #a7b4ff;
    border: 5px ridge gray;
}

.outputStyle {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 30px;    
    text-align: center;
    text-transform: capitalize;
}

.card-header h2 button{
    font-size: 40px;
    color: #b68ce8;
    font-family: "Pacifico", cursive;
}

body {
    background-color: #a7b4ff;
}

.cats {
    width: 100%;
    height: auto;
}

.pastries {
    width: 15%;
    height: auto;
}

.entrees {
    width: 25%;
    height: auto;
    border: 0px solid black;
    margin-bottom: 70px;
}

.beverages {
    width: 25%;
    height: auto;
}
.carouselimageshome{
    height: 1000px;
    width: 1348px;
}


@media only screen and (max-width: 600px) {
    .carousel-inner {
        width: 600px;
        height: 1000px;
    }

    .card-body {
        font-size: 20px;
    }

    .card-body h1 {
        font-size: 30px;
    }

    .navbar-brand {
        max-width: 10%;
        max-height: 30%;
    }

    .d-block w-100 .carouselimageshome {
        width: 100%;
        height: 100%;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel-item active {
        width: 100%;
        height: 100%;
    }

    #logoStyle {
        max-width: 25%;
        max-height: 25%;
    }
}