.navbar navbar-expand-lg navbar-light {
    float: right;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-caption {
    color: rgb(182, 140, 232);
    font-family: "Pacifico", cursive;
}

.wrapper {
    margin-bottom: -210px;
    border: 0px solid black;
}

.catCafeMargin {
    border: 0px solid black;
    margin: 360px;
}

footer {
    background-color: #9affda;
    color: rgb(182, 140, 232);
    height: 227px;
    font-family: 'Indie Flower', cursive;   
    text-align: center;  
    border: 0px solid black;
    padding: 0px;
    margin-bottom: 0px;
    position: absolute;
    width:100%;
}

footer h1 {
    font-size: 35px;
}

footer p {
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
    .carousel-inner {
        width: 500px;
        height: 1000px;
    }
}

.items {
    color: rgb(140, 209, 232);
    text-align: center;
    font-family: "Pacifico", cursive;
}

.navbar-brand {
    background-color: #9affdf;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 4px;
    max-height: 25%;
  }

  .column img {
    max-width: 75%;
    max-height: 75%;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 25%;
    }
  }

.dropbtn {
    background-color: #3498DB;
    color: rgb(167, 180, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 40px;
    font-family: "Indie Flower", cursive;    
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.dropdown-content a {
    color: rgb(167, 180, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Indie Flower", cursive;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.zip {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 20px;    
    text-align: center;
    border: 0px solid rgb(167, 180, 255);
    margin: 40px 0px 300px 0px;
}

.card-header {
    color: rgb(140, 209, 232);
    text-align: center;
    font-family: "Pacifico", cursive;
}

.card-body {
    color: rgb(140, 209, 232);
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 25px;
}

.card-body h1 {
    color: #b68ce8;
    font-size: 45px;
}

.card-header {
    font-size: 30px;
    color: rgb(140, 209, 232);
    text-align: center;
    font-family: "Pacifico", cursive;
}

.city {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 25px;    
    text-align: center;
}

.submit {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 25px;    
    text-align: center;
}

.outputStyle {
    color: #b68ce8;
    font-family: "Pacifico", cursive;
    font-size: 30px;    
    text-align: center;
    text-transform: capitalize;
}

.card-header h2 button{
    font-size: 40px;
    color: #b68ce8;
    font-family: "Pacifico", cursive;
}

body {
    background-color: #F7F7F7;
}

.cats {
    width: 100%;
    height: auto;
}

.pastries {
    width: 15%;
    height: auto;
}

.entrees {
    width: 25%;
    height: auto;
    border: 0px solid black;
    margin-bottom: 70px;
}

.beverages {
    width: 25%;
    height: auto;
}

